PORT=3000
APP_BASE_URL=http://localhost:3000
JWT_SECRET=change_me_in_env

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:3000/api/payments/momo/return
MOMO_IPN_URL=http://localhost:3000/api/payments/momo/ipn
MOMO_REQUEST_TYPE=captureWallet

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/api/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:3000/api/payments/vnpay/ipn
VNPAY_LOCALE=vn
VNPAY_CURRENCY=VND

VIETQR_BANK_ID=vietinbank
VIETQR_ACCOUNT_NO=101879989921
VIETQR_ACCOUNT_NAME=
VIETQR_TEMPLATE=compact2
VIETQR_IMAGE_BASE=https://img.vietqr.io/image
VIETQR_SKIP_CONFIRMATION=false

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/api/payments/stripe/return?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:3000/payment-result.html?status=cancelled
